Package: com.lulinxuan.InstaStealer
Name: InstaStealer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Double tap to save instal photos and videos.
Maintainer: lulinxuan
Author: lulinxuan
Section: Tweaks
